[DEFAULT]
ignoreip  = 127.0.0.1 {% for _ip in fail2banWhiteList %}{{ _ip }}{% endfor %}

bantime   = 86400
destemail = {{ adminEmail }}
banaction = iptables-multiport
action    = %(action_mwl)s

[ssh]
enabled   = true
maxretry  = 3

[ssh-ddos]
enabled   = true

[nginx]
enabled   = true
port      = http
filter    = nginx
logpath   = /var/log/nginx/*-access.log
maxretry  = 120
findtime  = 60
bantime   = 172800
