*filter
# allow loopback (lo) traffic (and drop 127.0.0.0/8 unless from loopback)
-A INPUT -i lo -j ACCEPT
-A INPUT -i '!lo' -d 127.0.0.0/8 -j REJECT

# allow already established connections
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# allow all outbound traffic
-A OUTPUT -j ACCEPT

# allow http connections
-A INPUT -p tcp --dport 80 -j ACCEPT

# allow ssh connections
-A INPUT -p tcp -m state --state NEW --dport {{ sshListenPort }} -j ACCEPT

# allow ping requests
-A INPUT -p icmp -m icmp --icmp-type 8 -j ACCEPT

# log any blocked requests
# can be used by something like PSAD, OSSEC, etc.
-A INPUT -m limit --limit 5/min -j LOG --log-prefix "iptables denied: " --log-level 7

# reject everything else
-A INPUT -j REJECT
-A FORWARD -j REJECT
COMMIT
