# CLIENT #
[client]
default-character-set = utf8

# ISAMCHK #
[isamchk]
key_buffer=16M

# MYSQLDUMP #
[mysqldump]
quick
quote-names
max_allowed_packet=16M

# INCLUDE CONF.D #
!includedir /etc/mysql/conf.d/
