## proxy and fastcgi cache locations
fastcgi_cache_path  {{ nginxCachePath }}/fcgi/  levels=1:2
                    keys_zone=fastcgi_short:5m
                    inactive=2m  max_size=1G
                    loader_threshold=2592000000 loader_sleep=1 loader_files=100000;

proxy_cache_path    {{ nginxCachePath }}/proxy/  levels=1:2
                    keys_zone=proxy_short:5m
                    inactive=2m  max_size=1G
                    loader_threshold=2592000000 loader_sleep=1 loader_files=100000;
